<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585806474023-ap0rg438a8aspf9aig985mlghl22e6dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585806474023-ap0rg438a8aspf9aig985mlghl22e6dt</string>
	<key>API_KEY</key>
	<string>AIzaSyAtIWAfh_kcCwiPeuzMCRlT9qp-rk8xric</string>
	<key>GCM_SENDER_ID</key>
	<string>585806474023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sprint</string>
	<key>PROJECT_ID</key>
	<string>jamia-2bcc1</string>
	<key>STORAGE_BUCKET</key>
	<string>jamia-2bcc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585806474023:ios:bb0109b359e3d5524c1702</string>
</dict>
</plist>